.lmj-cart {
  color: white;
	background-color: #31b572;
	padding: 32px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 300px;
}

.new-plant-title-icon {
  display: flex;
  align-items: center;
}

.new-plant-title {
  margin-right: 5px;
}

.input-name-plant {
  width:180px;
  height:20px;
  margin-bottom: 5px;
  border-radius: 4px;
  border-style: none;
  padding:4px;
  color: rgb(99, 99, 99)
}

.input-quantity-water {
  width: 180px;
  height:20px;
  margin-bottom: 14px;
  border-radius: 4px;
  border-style: none;
  padding:4px;
  color: rgb(99, 99, 99)
}

.button-new-plant {
  padding: 5px;
  border-radius: 5px;
  border-style: none;
  background-color: white;
  color: #31b572;
  cursor: pointer;
  font-size: 15px;
}
